@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    background-color: white;
    width: 20px;
}
::-webkit-scrollbar-thumb{
    border: 5px solid white;
    border-radius: 100px;
    background-color: #A78BCA;
}
.dark ::-webkit-scrollbar{
    background-color: black;
}
.dark ::-webkit-scrollbar-thumb{
    border: 5px solid black;
}
